CONFIG VCCAUX = "3.3" ;

NET "clk"                       LOC = V10     | IOSTANDARD = LVCMOS33 | PERIOD = 100MHz ;
NET "uart_tx_pin"               LOC = B8      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "rst_raw"                   LOC = M18     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST | PULLUP ;

NET "led[7]"                    LOC = P15     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "led[6]"                    LOC = P16     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "led[5]"                    LOC = N15     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "led[4]"                    LOC = N16     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "led[3]"                    LOC = U17     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "led[2]"                    LOC = U18     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "led[1]"                    LOC = T17     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "led[0]"                    LOC = T18     | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
